.option{

    display: flex ;
    justify-content: space-between;
    padding:$l-size $med-size; // lsize from up bottom, medsize for left right
    border-bottom:1px groove lighten($lightblue,10%);
}

.option__text{
    color:white;
    font-weight: 500;
    font-size: 2rem;
    margin:0;
    word-break: break-all;
}