//rem

html{
    font-size:62.5%
}
body{
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size:$med-size;
    background-color: $dark-blue;
}

h1{
    font-size: 2.2rem;
}


button{
    cursor:pointer;
}

button:disabled{
    cursor:default;
}